.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 160px;
}

.about .info {
	display: flex;
	height: 100%;
	width: 100%;
	color: white;
	font-family: 'Cardo';
	font-size: 20px;
	line-height: 24px;
	width: 100%;
	align-items: center;
	padding-right: 15px;
}

a {
	font-size: 20px !important;
	line-height: 24px !important;
	font-family: 'Cardo';
}


@media (max-width: 768px) {
	.info {
		text-align: center;
		display: block !important;
		align-items: center;
		padding-right: 0px !important;
	}
}

.about h1 {
	font-family: 'Oswald';
	color: white;
	text-align: center;
	font-size: 50px;
}

.about img {
	padding: 5px;
	vertical-align: middle;
}

.grow {
	transition: all .2s ease-in-out;
}

.grow:hover {
	-ms-transform: scale(1.1);
  	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.icon {
	height: 120px;
}

.row {
	margin: 0 0 0 0;
}

.icons {
    text-align: center
}

.about {
	padding-bottom: 75px;
	padding-left: 60px;
}