.app {
    max-height: 100vh;
}

.menu a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    opacity: .8;
    font-family: 'Oswald';
    font-size: 18px;
}

.menu a:hover {
    opacity: 1;
    color: white;
}

.ui.compact.menu {
    background: transparent !important;
    position: fixed;
    z-index: 50 !important;
}

.ui.menu {
    background-color: transparent !important;
    border: 0 !important;
    -webkit-box-shadow: 0 !important;
    box-shadow: 0 0 0 0 !important;
    border-radius: 0 !important;
}

.ui.menu::after {
    visibility: visible !important;
}

.ui.menu::before {
    visibility: visible !important;
}

.menu.item {
    background: transparent !important;
}

.ui.menu .ui.dropdown .menu>.item {
    background: transparent !important;
    color: white !important;

}

.ui.dropdown .menu {
    border: 0px !important;
}

.ui.menu .dropdown.item .menu {
    -webkit-box-shadow: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.dropdown.item:hover {
    background: transparent !important;
}